<div class="row g-5 mb-5">
  <div>
    
    {% if page.lang == 'fr' %}
      <h3 class="fw-bold border-bottom pb-3 mb-5">publications choisies</h3>
	  <p>N'hésitez pas à me contacter pour obtenir l'accès à tout article qui n'est pas en libre accès.</p>
	  <br>
    {% else %}
      <h3 class="fw-bold border-bottom pb-3 mb-5">selected publications</h3>
	  <p>Please feel free to contact me for access to any articles which are not freely available.</p>
	  <br>
    {% endif %}
  

  {% if page.lang == 'en' %}
    {% assign publications = site.data.en.publications %}
  {% elsif page.lang == 'fr' %}
    {% assign publications = site.data.fr.publications %}
  {% endif %}

  {% for publication in publications %}
    <div class="publication-item mb-4">
      <strong>{{ publication.title }}</strong>
      <p>{{ publication.author }} ({{ publication.year }})</p>
      <p>{{ publication.description }}</p>
	  {% if page.lang == 'en' %}
	  <p><a href="{{ publication.url }}">[link]</a></p>
	  {% else %}
	  <p><a href="{{ publication.url }}">[lien]</a></p>
	  {% endif %}
    </div>
  {% endfor %}
  </div>
</div>
