---
layout: default
---

{{ content }}

{% if page.lang == 'en' %}
	{% assign education = site.data.en.cv.education %}
	{% assign academic_experience = site.data.en.cv.academic-experience %}
	{% assign papers = site.data.en.cv.papers %}
	{% assign conferences = site.data.en.cv.conferences %}
	{% assign awards = site.data.en.cv.awards %}
	{% assign service = site.data.en.cv.service %}
	{% assign skills = site.data.en.cv.skills %}
{% elsif page.lang == 'fr' %}
	{% assign education = site.data.fr.cv.education %}
	{% assign academic_experience = site.data.fr.cv.academic-experience %}
	{% assign papers = site.data.fr.cv.papers %}
	{% assign conferences = site.data.fr.cv.conferences %}
	{% assign awards = site.data.fr.cv.awards %}
	{% assign service = site.data.fr.cv.service %}
	{% assign skills = site.data.fr.cv.skills %}
{% endif %}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">CV
    </h3>
	
	<div class="row g-5 mb-5">
	  <div class="col-md-12">
	    <center>
		{% if page.lang == 'en' %}
		  <a href="#education">Education</a>
		  <b>&middot;</b>
		  <a href="#education">Experience</a>
		  <b>&middot;</b>
	      <a href="#publications">Publications</a>
		  <b>&middot;</b>
		  <a href="#talks">Talks</a>
		  <b>&middot;</b>
		  <a href="#awards">Awards</a>
		  <b>&middot;</b>
		  <a href="#service">Service</a>
		  <b>&middot;</b>
		  <a href="#varia">Skills & varia</a>
		{% else %}
		  <a href="#education">Formation</a>
		  <b>&middot;</b>
		  <a href="#education">Expérience</a>
		  <b>&middot;</b>
	      <a href="#publications">Publications</a>
		  <b>&middot;</b>
		  <a href="#talks">Communications</a>
		  <b>&middot;</b>
		  <a href="#awards">Prix</a>
		  <b>&middot;</b>
		  <a href="#service">Service</a>
		  <b>&middot;</b>
		  <a href="#varia">Compétences & varia</a>
		{% endif %}
	    </center>
	  </div>
	</div>

    <div class="row g-5 mb-5">
      <div class="col-md-3" id="education" style="display: flex; flex-direction: column;">
        <h4>
          {% if page.lang == 'fr' %}
            Formation
          {% else %}
            Education
          {% endif %}
        </h4>
		<div style="margin-top: auto;">
		  <p><a href="#top"><small><small>
		  {% if page.lang == 'fr' %}
            retour en haut
          {% else %}
            back to top
          {% endif %}
		  </small></small></a></p>
		</div>
      </div>
      <div class="col-md-9">
        {% for section in education %}
          <p><span class="fw-bold">{{ section.title }}</span>
          <br>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="row g-5 mb-5">
      <div class="col-md-3" id="experience" style="display: flex; flex-direction: column;">
        <h4>
          {% if page.lang == 'fr' %}
            Expérience académique
          {% else %}
            Academic Experience
          {% endif %}
        </h4>
		<div style="margin-top: auto;">
		  <p><a href="#top"><small><small>
		  {% if page.lang == 'fr' %}
            retour en haut
          {% else %}
            back to top
          {% endif %}
		  </small></small></a></p>
		</div>
      </div>
      <div class="col-md-9">
        {% for section in academic_experience %}
          <p><span class="fw-bold">{{ section.title }}</span>
          <br>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
	
		<div class="row g-5 mb-5">
      <div class="col-md-3" id="publications" style="display: flex; flex-direction: column;">
        <h4>
          Publications
        </h4>
		<div style="margin-top: auto;">
		  <p><a href="#top"><small><small>
		  {% if page.lang == 'fr' %}
            retour en haut
          {% else %}
            back to top
          {% endif %}
		  </small></small></a></p>
		</div>
      </div>
      <div class="col-md-9">
	  {% if page.lang == 'en' %}
		<h5><i>Peer-reviewed articles</i></h5>
		{% else %}
		<h5><i>Articles avec revue scientifique</i></h5>
		{% endif %}
	  {% assign refereed_papers = papers | where: "type", "refereed" %}
        {% for section in refereed_papers %}
          <p><span class="fw-bold">{{ section.title }}</span><br>{{ section.rest }}<br>
		  {% if page.lang == 'en' %}
        {% if section.url contains '.pdf' %}
            <a href="{{ section.url }}" target="_blank">[link]</a></p>
        {% else %}
            <a href="{{ section.url }}" target="_blank" rel="noopener noreferrer">[link]</a></p>
        {% endif %}
    {% else %}
        {% if section.url contains '.pdf' %}
            <a href="{{ section.url }}" target="_blank">[lien]</a></p>
        {% else %}
            <a href="{{ section.url }}" target="_blank" rel="noopener noreferrer">[lien]</a></p>
        {% endif %}
    {% endif %}
        {% endfor %}
		
		<br>
		{% if page.lang == 'en' %}
		<h5><i>Book chapters</i></h5>
		{% else %}
		<h5><i>Chapitres de livre</i></h5>
		{% endif %}
	  {% assign book_papers = papers | where: "type", "book" %}
{% for section in book_papers %}
    {% assign linkparts = section.url | split: '/' %}
    <p><span class="fw-bold">{{ section.title }}</span><br>{{ section.rest }}<br>
	{% if page.lang == 'en' %}
    {% if section.url contains '.pdf' %}
            <a href="{{ section.url }}" target="_blank">[link]</a></p>
        {% else %}
            <a href="{{ section.url }}" target="_blank" rel="noopener noreferrer">[link]</a></p>
        {% endif %}
    {% else %}
        {% if section.url contains '.pdf' %}
            <a href="{{ section.url }}" target="_blank">[lien]</a></p>
        {% else %}
            <a href="{{ section.url }}" target="_blank" rel="noopener noreferrer">[lien]</a></p>
        {% endif %}
    {% endif %}
{% endfor %}
		
		<br>
		{% if page.lang == 'en' %}
		<h5><i>Conference proceedings</i></h5>
		{% else %}
		<h5><i>Actes de congrès</i></h5>
		{% endif %}
	  {% assign conf_papers = papers | where: "type", "conference" %}
{% for section in conf_papers %}
    {% assign linkparts = section.url | split: '/' %}
    <p><span class="fw-bold">{{ section.title }}</span><br>{{ section.rest }}<br>
	{% if page.lang == 'en' %}
    {% if section.url contains '.pdf' %}
            <a href="{{ section.url }}" target="_blank">[link]</a></p>
        {% else %}
            <a href="{{ section.url }}" target="_blank" rel="noopener noreferrer">[link]</a></p>
        {% endif %}
    {% else %}
        {% if section.url contains '.pdf' %}
            <a href="{{ section.url }}" target="_blank">[lien]</a></p>
        {% else %}
            <a href="{{ section.url }}" target="_blank" rel="noopener noreferrer">[lien]</a></p>
        {% endif %}
    {% endif %}
{% endfor %}
      </div>
    </div>
	
	<div class="row g-5 mb-5">
      <div class="col-md-3" id="talks" style="display: flex; flex-direction: column;">
        <h4>
          {% if page.lang == 'fr' %}
            Communications
          {% else %}
            Talks
          {% endif %}
        </h4>
		<div style="margin-top: auto;">
		  <p><a href="#top"><small><small>
		  {% if page.lang == 'fr' %}
            retour en haut
          {% else %}
            back to top
          {% endif %}
		  </small></small></a></p>
		</div>
      </div>
      <div class="col-md-9">
        {% for section in conferences %}
          <p><span class="fw-bold">{{ section.title }}</span>
		  <br>{{ section.author }} ({{ section.year }}). {{ section.venue }} ({{ section.place }}).
		  <br>
		  {% if page.lang == 'en' %}
		    {% if section.type == 'web' %}
			<a href="{{ section.url }}" target="_blank" rel="noopener noreferrer">[link]</a></p>
			{% else %}
        <a href="{{ site.url }}/talks/{{ section.url }}" target="_blank">[link]</a></p>
		{% endif %}
    {% else %}
	{% if section.type == 'web' %}
	<a href="{{ section.url }}" target="_blank" rel="noopener noreferrer">[lien]</a></p>
	{% else %}
		<a href="{{ site.url }}/talks/{{ section.url }}" target="_blank">[lien]</a></p>
		{% endif %}
    {% endif %}
        {% endfor %}
      </div>
    </div>
	
	<div class="row g-5 mb-5">
      <div class="col-md-3" id="awards" style="display: flex; flex-direction: column;">
        <h4>
          {% if page.lang == 'fr' %}
            Subventions & prix
          {% else %}
            Grants & awards
          {% endif %}
        </h4>
		<div style="margin-top: auto;">
		  <p><a href="#top"><small><small>
		  {% if page.lang == 'fr' %}
            retour en haut
          {% else %}
            back to top
          {% endif %}
		  </small></small></a></p>
		</div>
      </div>
      <div class="col-md-9">
	  <p><small>
	  {% if page.lang == 'en' %}
	  (Principal and/or sole investigator for all grants, unless stated otherwise.)
	  {% else %}
	  (Chercheur principal et/ou unique pour toutes les subventions, sauf indication contraire)
	  {% endif %}
	  </small></p>
        {% for section in awards %}
          <p><span class="fw-bold">{{ section.title }}</span>
          <br>{{ section.rest }}</p>
        {% endfor %}
      </div>
    </div>
	
	<div class="row g-5 mb-5">
      <div class="col-md-3" id="service" style="display: flex; flex-direction: column;">
        <h4>Service</h4>
		<div style="margin-top: auto;">
		  <p><a href="#top"><small><small>
		  {% if page.lang == 'fr' %}
            retour en haut
          {% else %}
            back to top
          {% endif %}
		  </small></small></a></p>
		</div>
      </div>
      <div class="col-md-9">
        {% for section in service %}
          <p>{{ section.activity }}</p>
        {% endfor %}
      </div>
    </div>
	
	<div class="row g-5 mb-5">
      <div class="col-md-3" id="varia" style="display: flex; flex-direction: column;">
        {% if page.lang == 'en' %}
		<h4>Skills & varia</h4>
		{% else %}
		<h4>Compétences & varia</h4>
		{% endif %}
		<div style="margin-top: auto;">
		  <p><a href="#top"><small><small>
		  {% if page.lang == 'fr' %}
            retour en haut
          {% else %}
            back to top
          {% endif %}
		  </small></small></a></p>
		</div>
      </div>
      <div class="col-md-9">
        {% for section in skills %}
          <p>{{ section.item }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
